[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/aaronguo1996/my-academic.git
[submodule "public"]
	path = public
	url = https://github.com/aaronguo1996/aaronguo1996.github.io.git
	branch = master
